figure {
  width: 200px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  margin-left: inherit;
  margin-right: inherit;
  left: 0%;
}
figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
figure:hover div {
  transform: rotateX(-90deg);
}
#start span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #fff;
  font-family: sans-serif;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  font-variant: small-caps;
  left: 0px;

}
#start span:nth-child(1) {
  color: #fff;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);

}
#start span:nth-child(2) {
  color: $color;
  background: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}
