body {
  position: fixed;

  cursor: url("../img/rocket.png"),auto;
  background-image: url("../img/stars.gif");
  animation: slide 30s linear infinite;
}
@keyframes slide {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -500px -567px;
  }
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startGame h1, h2 {
  text-align: center;
  font-family: monospace;
  color: white;
  font-variant: small-caps;
}
#startGame h1 {
  font-size: 4em;
}
#startGame h2 {
  font-size: 1.5em;
  font-style: italic;
}
#start {
  cursor: url("../img/cursor.png"),auto;
}



#gameBoard {
  display: none;
  width: 50em;
  height: 50em;
  margin: auto auto auto auto;
}
#gameBoard h2 {
  text-align: center;
  animation: blink 2s infinite;
  font-variant: small-caps;
  font-size: 5em;
}
@keyframes blink{
  0% {
    color: rgba(255, 255, 255, 0);
    } 35% {
      color: rgba(255, 255, 255, 1);
      } 65% {
        color: rgba(255, 255, 255, 1);
        } 100% {
          color: rgba(255, 255, 255, 0);
        }
}

div[id="01"], div[id="11"], div[id="21"] {
  border-left: solid;
  border-right: solid;
  border-width: 3px;
  border-color: white;
} div[id="10"], div[id="11"], div[id="12"] {
  border-top: solid;
  border-bottom: solid;
  border-width: 3px;
  border-color: white;
} div[id="01"] {
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%) 5;
} div[id="21"] {
  border-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%) 5;
} div[id="10"] {
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%) 5;
} div[id="12"] {
  border-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%) 5;
}

.row {
  height: 15em;
}

img {
  height: 50px;
  margin-left: 50%;
}

.win {
  display: none;
}
