#gameBoard {
  display: none;
  width: 80%;
  height: 80%;
  margin: auto auto auto auto;
}

.row:nth-of-type(2) {
  border-bottom: solid;
  border-top: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%) 5;
}

.row p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
}

.col-sm-4:nth-of-type(2) {
  border-left: solid;
  border-right: solid;
  border-width: 2px;
  border-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%) 5;
}

.col-sm-4 {
  cursor: pointer;
}

img {
  height: 50px;
  margin-left: 50%;
}

#startGame {
  text-align: center;
}
